

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container {
    width: 100vw;
    display: grid;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
    grid-template-columns: 1.125fr 4fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar {
    background-color: #38bdf8;
    color: white;
    grid-area: sidebar;
    width: 317px;
    height: 100vh;
    z-index: 2;
    position: fixed;
}

h1 {
    display: inline-block;
}

.logo-container .material-icons {
    font-size: 60px;
    position: relative;
    left: 20px;
    top: 15px;
}

ul li {
    list-style: none;
    font-size: 20px;
    line-height: 2;
    font-weight: bold;
}

.material-icons {
    position: relative;
    top: 4px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.settings {
    margin-top: 2.75rem;
}

header {
    background-color: white;
    grid-area: header;
    display: grid;
    grid-template-rows: 0.25fr 0.5fr;
    box-shadow: 0 10px 10px -10px gray;
    z-index: 1;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.profile-pic.small {
    width: 60px;
    height: 60px;
}

.top-of-header {
    display: grid;
    grid-template-areas: 
    "searchbar icon";
    grid-template-columns: 3fr 2fr;
}

.searchbar-container {
    grid-area: searchbar;
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.searchbar-container label {
    grid-column: 1 / 2;
    place-self: center end;
}

label .material-icons {
    position: static;
    font-size: 30px;
}

input {
    border-radius: 25px;
    width: 90%;
    height: 2rem;
    border: none;
    background-color: #e7e5e4;
    font-size: 1.25rem;
    grid-column: 2 / 3;
    place-self: center start;
}

.icons-container {
    grid-area: icon;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.icons-container span {
    grid-column: 1 / 2;
    place-self: center end;
    margin-right: 10px;
    cursor: pointer;
}

.icons-container img {
    font-size: 30px;
    grid-column: 2 / 3;
    place-self: center;
    margin-right: 10px;
}

.icons-container p {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5rem;
    grid-column: 3 / 5;
    place-self: center start;
}

.bottom-of-header {
    display: grid;
    grid-template-areas: 
    "profile button";
    grid-template-columns: 3fr 2fr;
}

.profile-container {
    grid-area: profile;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    margin: 20px 10px;
}

.profile-container img {
    grid-area: 1 / 1 / 3 / 2;
    place-self: center;
}

.profile-container .p1 {
    grid-area: 1 / 2 / 2 / 3;
    align-self: end;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.profile-container .p2 {
    grid-area: 2 / 2 / 3 / 3;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    align-self: start;
}

.button-container {
    grid-area: button;
    width: 100%;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 80px;
}

.new-button {
    grid-column: 1;
}

.upload-button {
    grid-column: 2;
}

.share-button {
    grid-column: 3;
}

.new-button,
.upload-button,
.share-button {
    place-self: center;
    background-color: #38bdf8;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem 20px;
    border: none;
    width: 100px;
    border-radius: 25px;
    cursor: pointer;

}

.content {
    background-color: #e7e5e4;
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "header1 header2"
    "main aside";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3% 6fr;
}

.header-one {
    grid-area: header1;
    padding-left: 30px;
}

.header-two {
    grid-area: header2;
    margin-left: 10px;
}

.header-one,
.header-two {
    font-size: 22px;
    font-weight: bold;
    place-self: center start;
    margin-top: 10px;
    margin-bottom: 0;
}

main {
    height: 800px;
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(autofill, minmax(300px, 1fr));
    padding: 10px;
    padding-top: 0;
    margin-top: 0;
}

aside {
    grid-area: aside;
    display: grid;
    grid-template-areas:
    "announcement"
    "header"
    "trending";
    grid-template-rows: 30% 4.5% 30%;
}


.card {
    background-color: white;
    border-left: 10px solid orange;
    border-radius: 10px;
    margin: 10px;
    height: 250px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.text {
    grid-row: 1;
    padding: 15px 20px;
}

.text h3 {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.text p {
    color: rgb(111, 110, 110);
    margin-top: 0;
}

.icons {
    grid-row: 2;
    place-self: center end;
}

.icons .material-icons-outlined {
    margin-right: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.announcement-card,
.trending-card {
    background-color: white;
    margin: 10px;
    overflow: hidden;
}

.announcement-card {
    grid-area: announcement;
    border-radius: 10px;
}

.trending-card {
    padding-left: 15px;
    grid-area: trending;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: repeat(4, 1fr);
}

aside .header {
    grid-area: header;
}

.small-card {
    margin: 0 15px;
    border-bottom: 2px solid #e7e5e4;
    cursor: pointer;
}

.small-card:first-of-type{
    margin-top: 15px;
}

.small-card:last-of-type {
    border: none;
}

.small-card .text p {
    font-size: 0.8rem;
}

.text h5 {
    margin: 0;
    padding: 0;
}

aside .header {
    font-size: 22px;
    font-weight: bold;
    place-self: end start;
    margin-left: 10px;
}

.trending-card img:first-of-type {
    grid-area: 1 / 1 / 2 / 2;
    place-self: center;
}

.trending-card img:nth-of-type(2) {
    grid-area: 2 / 1 / 3 / 2;
    place-self: center;
}

.trending-card img:nth-of-type(3) {
    grid-area: 3 / 1 / 4 / 2;
    place-self: center;
}

.trending-card img:last-of-type {
    grid-area: 4 / 1 / 5 / 2; 
    place-self: center;
}

.trending-card .text:first-of-type {
    grid-area: 1 / 2 / 2 / 3;
    place-self: center start;
}

.trending-card .text:nth-of-type(2) {
    grid-area: 2 / 2 / 3 / 3;
    place-self: center start;
}

.trending-card .text:nth-of-type(3) {
    grid-area: 3 / 2 / 4 / 3;
    place-self: center start;
}

.trending-card .text:last-of-type {
    grid-area: 4 / 2 / 5 / 3; 
    place-self: center start;
}

.trending-card .text {
    cursor: pointer;
}

.card,
.announcement-card,
.trending-card {
    z-index: 1;
    box-shadow: 10px 10px 10px -10px gray;
}